<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just A Bite! 咬一口廚房</title>
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- 導覽列 -->
  <nav>
    <div class="navbar">
      <div class="navbar__logo">
        Just A Bite!
      </div>
      <div class="navbar__options">
        <a href="/" class="navbar__option navbar__active">抽個大獎</a>
        <a href="#" class="navbar__option">我要點餐</a>
        <a href="#" class="navbar__option">查詢訂單</a>
        <a href="#" class="navbar__option">常見問題</a>
        <a href="/admin" class="navbar__option">管理後臺</a>
      </div>
    </div>
  </nav>

  <!-- 抽獎 -->
  <div class="prize">
    <!-- 抽到什麼獎 動態加入-->
    <div class="prize__result">
      <h1 class="prize__result-title" style="color: black;"><%= prize.name %></h1>
      <h3 class="prize__result-title" style="color: black; display: block;"><%= prize.description %></h3>
      <div class="prize__btn" onclick="javascript: window.location.reload()">
        我要抽獎
      </div>
    </div>
    
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div class="footer__top">
      <div class="footer__top-center">
        <div class="footer__info">
          <p>
            餐館地址: 天上地下天堂路三分之一里六段520號
          </p>
          <p>
            訂位專線：02-1314-5566
          </p>
          <p>
            營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息
          </p>
          <p>
            email：service@justabite.com.tw
          </p>
        </div>
        <div class="footer__contact">
          <h3>Just A Bite!</h3>
          <p>Facebook / Instagram / Youtube</p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有
    </div>
  </div>
</body>
</html>