<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../template/head') %>
<body>
  <form method="POST" action="/register" class="form">
    <h2 class="form__title">Register</h2>
    <% if (errorMessage) { %>
      <h2 class="error"><%= errorMessage %></h2>
    <% } %>
    <div class="form__input">
      <label for="username">USERNAME</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="form__input">
      <label for="password">PASSWORD</label>
      <input type="password" id="password" name="password">
    </div>
    <input type="submit" value="SIGN UP" class="form__btn">
  </form>
</body>
</html>