body {
  background-color: rgba(0, 0, 0, 0.3);
}

.form {
  width: 645px;
  background-color: white;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 121px auto 66px;
}

.form__banner {
  height: 8px;
  background-color: #fad312;
}

.wrap {
  padding: 0 42px 35px;
}

.form__title {
  margin: 54px 0px 35px;
  font-size: 36px;
}

.form__sub {
  font-size: 14px;
}

.form__sub + .form__sub {
  margin-top: 11px;
}

.form__desc {
  color: #e74149;
  font-size: 16px;
  margin: 22px 0 6px;
}

.form__label {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 49px;
  display: block;
}

.form__label-require::after {
  content: " *";
  color: #e74149;
  font-size: 20px;
}

.form__label p {
  margin-bottom: 14px;
  font-size: 14px;
}

.form__input {
  width: 287px;
  height: 23px;
  border: solid 1px #d0d0d0;
  box-sizing: border-box;
  padding-left: 5px;
}

.form__radio {
  font-size: 14px;
  display: block;
}

.form__radio + .form__radio {
  margin: 23px 0 0px;
}

.form__submit {
  font-size: 15px;
  width: 92px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #fad312;
  margin-bottom: 21px;
  display: block;
}

.form__submit:hover {
  cursor: pointer;
}

.form__remind {
  font-size: 14px;
}

.footer {
  height: 60px;
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 13px;
  background-color: #000000;
  line-height: 60px;
}

.hide .form__error {
  visibility: hidden;
}


.form__error {
  color: red;
  font-size: 14px;
  /* margin-top: 5px; */
  position: absolute;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    margin: auto;
  }

  .wrap {
    padding: 0 20px 20px;
  }

  .form__title {
    margin: 20px 0px 15px;
    font-size: 32px;
  }

  .form__sub + .form__sub {
    margin-top: 0px;
  }

  .form__desc {
    margin: 10px 0 20px;
  }

  .form__label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .form__radio + .form__radio {
    margin: 5px 0 0;
  }

  .form__submit {
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
  }

  .footer {
    height: 40px;
    line-height: 40px;
  }
}