<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../template/head') %>
<body>
  <!-- navbar -->
  <%- include('../template/navbar') %>
  <!-- 存放技術之地 -->
  <header class="header">
    <div>
      <h2>存放技術之地</h2>
      <p>Welcome to my blog</p> 
    </div>
  </header>
  <!-- article 區 -->
  <div class="wrap">
    <div class="articles">
      <!-- article -->
      <div class="edit-blog">
        <h3>發表文章：</h3>
        <% if (errorMessage) { %>
          <h3 class="error"><%= errorMessage %></h3>
        <% } %>
        <form method="POST" action="/add">
          <input type="text" name="title" placeholder="請輸入文章標題" class="edit-blog__title">
          <select name="catagory" id="catagory" class="edit-blog__catagory">
            <option disabled selected="select">請選擇文章分類</option>
            <option value="1">農場文</option>
            <option value="2">廢文</option>
            <option value="3">聳動標題騙點閱文</option>
          </select>
          <textarea name="content" cols="30" rows="10" class="edit-blog__textarea"></textarea>
          <div class="edit-blog__btn">
            <input type="submit" value="送出文章">
          </div>
        </form>
      </div>
    </div>
    
  </div>
</body>
</html>