<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../template/head') %>
<body>
  <!-- navbar -->
  <%- include('../template/navbar') %>
  <!-- 存放技術之地 -->
  <header class="header">
    <div>
      <h2>存放技術之地</h2>
      <p>Welcome to my blog</p> 
    </div>
  </header>
  <!-- 編輯 article 區 -->
  <div class="wrap">
    <div class="articles">
      <div class="article-edit__list">
        <div class="article-edit__title">
          <img src="./img/folder-24-px.png" >
          <a href="/category_list/1">農場文</a>
        </div>
      </div>
      <div class="article-edit__list">
        <div class="article-edit__title">
          <img src="./img/folder-24-px.png" >
          <a href="/category_list/2">廢文</a>
        </div>
      </div>
      <div class="article-edit__list">
        <div class="article-edit__title">
          <img src="./img/folder-24-px.png" >
          <a href="/category_list/3">聳動標題騙點閱文</a>
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>